	body{
	    margin: 0;
		min-width: 1200px;
		background-image: url("../img/bg_1_1.jpg");
	}
	a{
		text-decoration: none;
		color: silver;
	}

	/*体部*/
	
	#section{
		/*background-color: aqua;*/
		height: 1000px;
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.rule{
		text-align: center;
		font-size: 12px;
		color:white;
		margin: 10px 0 0 0;
	}
	.rule:nth-child(2){
		margin-top: 6px;
	}
	.rule>span{
		color: #ffb400;
		margin-left: 4px;
	}
	
	/*榜上电影*/
	ol{
		list-style: none;
		padding: 0;
	}
	#cinemas{
		width: 950px;
		margin-top: 20px;
	}
	.cinema{
		margin-top: 30px;
		display:flex;
	}
	.cinema .num{
		display: inline-block;
		background-color:grey;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		font-weight: 700;
		color: white;
		margin-right: 25px;
	}
	.cinema img{
		vertical-align: middle;
		width: 160px;
		height: 220px;
		
	}
	.cinema div{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 680px;
		height: 220px;
		margin-left: 25px;
		margin-top: 0;
		border-bottom: solid 1px #e5e5e5;
		color: white;
		
	}
	.cinema h2{
		font-size: 26px;
		color:cornsilk;
		font-weight: normal;
		margin-top: 50px;
	}
	.actor{
		margin-bottom: 4px;
	}
	.time{
		color:white;
		font-size: 16px;
	}
	.score{
		color: #FFB400;
		position: absolute;
		top: 60px;
		left: 620px;
		font-size: 26px;
		font-weight: 700;
	}
	.score span{
		font-size: 56px;
	}
	#cinemas li:nth-child(1) .num{
		background-color: lightcoral;
		color: #FFFFFF;
	}
	#cinemas li:nth-child(2) .num,
	#cinemas li:nth-child(3) .num{
		background-color: #FFB400;
		color: #FFFFFF;
	}
	button{
		margin-top: 10px;
		display: block;
		font-size: 18px;
		color: white;
		width: 150px;
		height: 45px;
		background-color: #DF2D2D;
		border: none;
	}