<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddPlayServlet</servlet-name>
    <servlet-class>web.servlet.AddPlayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findPlayAllServlet</servlet-name>
    <servlet-class>web.servlet.findPlayAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>web.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>web.servlet.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePlayServlet</servlet-name>
    <servlet-class>web.servlet.updatePlayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateStudioServlet</servlet-name>
    <servlet-class>web.servlet.updateStudioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateScheServlet</servlet-name>
    <servlet-class>web.servlet.UpdateScheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddScheServlet</servlet-name>
    <servlet-class>web.servlet.AddScheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteScheServlet</servlet-name>
    <servlet-class>web.servlet.DeleteScheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketSaleServlet</servlet-name>
    <servlet-class>web.servlet.TicketSaleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>web.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>web.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findAllScheServlet</servlet-name>
    <servlet-class>web.servlet.findAllScheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketStatusServlet</servlet-name>
    <servlet-class>web.servlet.TicketStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>web.servlet.ScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>web.servlet.UserManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <servlet-class>web.servlet.ShowUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefundServlet</servlet-name>
    <servlet-class>web.servlet.RefundServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeHend</servlet-name>
    <servlet-class>web.servlet.ChangeHend</servlet-class>
  </servlet>


  




  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefundServlet</servlet-name>
    <url-pattern>/RefundServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <url-pattern>/ShowUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/UserManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findAllScheServlet</servlet-name>
    <url-pattern>/findAllScheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteScheServlet</servlet-name>
    <url-pattern>/DeleteScheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddScheServlet</servlet-name>
    <url-pattern>/AddScheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateScheServlet</servlet-name>
    <url-pattern>/UpdateScheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPlayServlet</servlet-name>
    <url-pattern>/AddPlayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findPlayAllServlet</servlet-name>
    <url-pattern>/findPlayAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePlayServlet</servlet-name>
    <url-pattern>/updatePlayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateStudioServlet</servlet-name>
    <url-pattern>/updateStudioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketSaleServlet</servlet-name>
    <url-pattern>/TicketSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketStatusServlet</servlet-name>
    <url-pattern>/TicketStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeHend</servlet-name>
    <url-pattern>/ChangeHend</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
